/*
  Colors
*/

:root {
  --a: #3ace18;
  --b: #8f82dd;
  --c: #e55e5b;
  --d: #8c6de0;
  --e: #7ee59e;
  --f: #f9d236;
  --g: #587fc4;
  --h: #21a56a;
  --i: #6fe8af;
  --sunflower: #e8c620;
  --orchid: #e26cc1;
  --salem: #e26cc1;
}